---
const {title, description, technologies, urlImg} = Astro.props;
---

<div class="w-full flex backdrop-blur-sm bg-secontaryDark/30">
    <div class="basis-1/2 p-6 relative">
        <h3 class="text-3xl pb-4">{title}</h3>
        <p  class="w-full text-justify pb-2 ">
            {description}
        </p>
        <div class="flex gap-2">
            {
                technologies.map( nameIcon => <img class="w-10" src={`../../public/icons/${nameIcon}.svg`} alt={`Icono de ${nameIcon}`}>)
            }            
        </div>
        
    </div>
    <div class="basis-1/2 overflow-hidden">
        <img class="hover:scale-105 duration-300" src={urlImg} alt="project">
    </div>    
</div>